*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    margin: 165px;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}


h2 {
    margin-top: 30px;
    font-size: 22px;
    color: #838383;
}



.grid {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-top: 15px;

}


.card,
.product {
    width: 350px;
    height: 407px;
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: 0.2s;
}



.card:hover,
.product:hover {
    transform: scale(1.02);
}

.card img,
.product img {
    max-width: 100%;
    height: 237px;
    
}

.info {
    margin-top: 10px;
    display: flex;
    font-size: 16px;
}

.price {
    color: #f7931e;
    font-weight: bold;
    
}

.rating {
    color: #666; }

    .section{
        margin-top: 30px;
        margin-bottom: 70px;
        
    }

 
    .product div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 54px;
        height: 0px;
    
    }

    .icn {
        text-align: start;
        position: relative;
    }